{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p class="mt0">If this is your first time here, please know that ALL our client engagements begin with a 1 hour Zoom Video Conference call. If you are ready to schedule this call - please follow this link and choose your time. If you need more info please live-chat with us at the bottom right of this screen. We are here to help</p>

		<h3 class="f4 b lh-title mt0 mb2">Open Office Hours Every Day.</h3>
		<p class="mt0">For our existing clients, every workday at 9am/10am PST we are available @ 778-200-1622. This is where we set the tasks for the week that are most important. </p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Mail us stuff @</h4>
				<p class="mt0">1755 Robson street ~ Vancouver,BC Canada </p>
			</div>

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Office hours</h4>
				<p class="mt0">Sunday – Friday: 7AM PST – 7PM PST We’re closed on Saturdays</p>
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
