{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Product Tasks done fast" "subtitle" "Product Personas, Road-maps, Requirements, Customer Interviews ") }}

{{ partial "short-text" (dict "heading" "Why Product Teams?" "text" "ProductTeams helps product owners scale quickly - and get ad-hoc tasks done at a moments notice. Avoid hiring product specialists when you can get those tasks done on demand with no overhead.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "ProductTeams is a collective of hands-on product managers and digital product task experts that offer our services on-demand on a weekly basis." "svg1" "img/illustrations/coffee.svg" "text1" " We functions as remote product team members and participate in sprints executing tasks and delivering quality work  . Simple choose how many hours you need each week" "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of product services. No matter if you have a big team or are just started our first company, you’ll find a task fast. Try us out with a baby task first and see for yourself." "buttonText" "See all services" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Great Product come from those who love to create products. Creating products that inspire and give joy is our mission." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
