{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Product Gigs" "subtitle" "Product Personas, Road-maps, Requirements, Customer Interviews ") }}

{{ partial "short-text" (dict "heading" "Why Product Teams?" "text" "Product Teams is the coffee store for everyone who believes that great products shouldn't just look good, they should be loved.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "Product Teams is the ultimate spot for product owners who want to expand their team immediately. We take the product process, analysis and metrics seriously and we’re glad to pass that knowledge to anyone." "svg1" "img/illustrations/coffee.svg" "text1" " We’re proud to offer a variety of product services with great care for the timing and needs of our partners. Check our post or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of product services and tools for every taste and experience level. No matter if you have a big team or are just started our first company, you’ll find a service to fall in love with in our shop." "buttonText" "See all services" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Product is an amazing part of human culture, and helping create products that inspire and give joy is our mission." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
