{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Product Gigs" "subtitle" "Product Personas, Road-maps, Requirements, Customer Interviews ") }}

{{ partial "short-text" (dict "heading" "Why Product Teams?" "text" "ProductTeams helps product owners scale. On-demand tasks done within the week. Avoid hiring product people when only a few tasks are needed.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "Product Teams is the ultimate spot for product owners who want to expand their team without hiring." "svg1" "img/illustrations/coffee.svg" "text1" " We’re proud to offer a variety of On-Demand product services. Our hours available for each task posted each week" "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of product services. No matter if you have a big team or are just started our first company, you’ll find a task fast. Try us out with a baby task and see for yourself." "buttonText" "See all services" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Product is an amazing part of human culture, and helping create products that inspire and give joy is our mission." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
