{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "PMBOK 6.0 in use : How We Work") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "PRODUCT TOOL KIT" "text" "the Items Below Illustrate The Breadth Of The Toolkit, But Are Not Meant To Provide An Exhaustive List Of All Techniques And Tools In Our Toolkit." "imageUrl" "/img/about/DdraaJFUwAM5XPF.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Everything runs under the Practice Managers PMBOK 6.0 Process" "text" "Our PMI Agile Certified Practitioners (PMI-ACP)®  act as product leads and manage the process with each client. to insure the client satisfaction and processes follow the international standard. " "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "AGILE ANALYSIS AND DESIGN" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/sustainable-farming.jpg") }} 
  
  {{ partial "media-block-reverse" (dict "heading" "PMBOK 6.0 Process" "text" "Our PMI Agile Certified Practitioners (PMI-ACP)®  act as product leads and manage the process with each client. to insure the client satisfaction and processes follow the international standard. " "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "AGILE ANALYSIS AND DESIGN" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/2DCategorization.png") }} 
  
  {{ partial "media-block-reverse" (dict "heading" "PMBOK 6.0 Process" "text" "Our PMI Agile Certified Practitioners (PMI-ACP)®  act as product leads and manage the process with each client. to insure the client satisfaction and processes follow the international standard. " "imageUrl" "/img/about/EvalTable-Std.png") }}

  {{ partial "media-block" (dict "heading" "AGILE ANALYSIS AND DESIGN" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/FullKanoModel.png") }} 

  {{ partial "media-block-reverse" (dict "heading" "PMBOK 6.0 Process" "text" "Our PMI Agile Certified Practitioners (PMI-ACP)®  act as product leads and manage the process with each client. to insure the client satisfaction and processes follow the international standard. " "imageUrl" "/img/about/4-pic2.jpg") }}

  {{ partial "media-block" (dict "heading" "AGILE ANALYSIS AND DESIGN" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/images-3.png") }} 
  
  {{ partial "media-block-reverse" (dict "heading" "PMBOK 6.0 Process" "text" "Our PMI Agile Certified Practitioners (PMI-ACP)®  act as product leads and manage the process with each client. to insure the client satisfaction and processes follow the international standard. " "imageUrl" "/img/about/images-2.png") }}

  {{ partial "media-block" (dict "heading" "AGILE ANALYSIS AND DESIGN" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/download-7.jpg") }} 
  
  {{ partial "media-block-reverse" (dict "heading" "PMBOK 6.0 Process" "text" "Our PMI Agile Certified Practitioners (PMI-ACP)®  act as product leads and manage the process with each client. to insure the client satisfaction and processes follow the international standard. " "imageUrl" "/img/about/download-6.jpg") }}

  {{ partial "media-block" (dict "heading" "AGILE ANALYSIS AND DESIGN" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/download-5.jpg") }} 
  
  {{ partial "media-block-reverse" (dict "heading" "PMBOK 6.0 Process" "text" "Our PMI Agile Certified Practitioners (PMI-ACP)®  act as product leads and manage the process with each client. to insure the client satisfaction and processes follow the international standard. " "imageUrl" "/img/about/download-4.png") }}

  {{ partial "media-block" (dict "heading" "AGILE ANALYSIS AND DESIGN" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/download-4.jpg") }} 

  {{ partial "media-block-reverse" (dict "heading" "PMBOK 6.0 Process" "text" "Our PMI Agile Certified Practitioners (PMI-ACP)®  act as product leads and manage the process with each client. to insure the client satisfaction and processes follow the international standard. " "imageUrl" "/img/about/download-3.png") }}

  {{ partial "media-block" (dict "heading" "AGILE ANALYSIS AND DESIGN" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/download-1.png") }} 
  
</div>

{{ partial "footer" . }}
