{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "PMBOK 6.0 in use : How We Work") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "LAUNCH" "text" "We are launch experts. Everything is about getting your product to market. We have launched hundeds of products and are driven by the thought that until a product is live in the wild there is not much that can be learned. Once live, we rely on expert analytics to drive continuous iterating." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "PMBOK 6.0 Process" "text" "Our product owner process begins with the first client meetings and then follows the Product Management Institute's PMBOK 6.0 version. " "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "TEAM MANAGEMENT" "text" "Diligent, timely, compassionate motivation leads to a cohesive team. As Scrum Leader or as Agile team lead, we help out clients keep their teams moving forward." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "A/B TESTING IN DESIGN" "text" "Customer-facing products need the feedback loop between target customer and designer to create and constantly refine the product for maximum user experience." "imageUrl" "/img/about/direct-sourcing.jpg") }}
  
  {{ partial "media-block" (dict "heading" "BUILD" "text" "We know how to build MVP's and MFF's and how to build under-budget and ahead of schedule. " "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
  {{ partial "media-block" (dict "heading" "BUILD" "text" "We know how to build MVP's and MFF's and how to build under-budget and ahead of schedule. " "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
  {{ partial "media-block" (dict "heading" "BUILD" "text" "We know how to build MVP's and MFF's and how to build under-budget and ahead of schedule. " "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
  {{ partial "media-block" (dict "heading" "BUILD" "text" "We know how to build MVP's and MFF's and how to build under-budget and ahead of schedule. " "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
  
</div>

{{ partial "footer" . }}
