{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Values Drive Great Products") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Simplicity in Billing. We charge the same per hour price per all services" "text" "As product owners ourselves for many years, we know that helping you quickly understand the cost/benefit of our services is important to you. All of our team members agree to work at a flat rate with a flat discount based upon each project. This simplifies your math, our billing, and we have found enables everyone to work together better for the common goal of our client." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Transparency : Our clients are billed only for actual hours worked" "text" "Our team collaboration tool timestamps every on-job/off-job event so our clients know that they are billed exactly to the minute of time spent. We value our record of never having a customer billing complaint. Our policy of 100% satisfaction guarantee means no customer ever has to worry about the bill." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Always On the Same Page " "text" "We only start work after a paid discovery session that confirms that our clients and us know how we will work together. Our product lead's main job is to make sure that client and team are always in-sync. " "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Everything under NDA" "text" " Your investment in product tasks we perform is always secure. Every member of every project on productTEAMS signs a confidentiality/non-disclosure that protect ours clients fully. Our jobs is to help our clients discover what is priceless - the essential kernals that enable them to achieve product/market fit. " "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We want to truly empower the educators and communities that bring support product management skills. That’s why we reinvest 20% of our profits into schools that teach budding product people how to build. You can see the communities grow and learn more about this on our blog." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
