{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Values") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Simplicity in Billing. Same per hour price per all services" "text" "As product owners ourselves for many years, we want to make it simple for you to quickly understand the cost/benefit of our services to you. All of our team members agree to work at a flat rate with a flat discount based upon each project. This simplifies the math, the billing, and we have found enables everyone to work together better for the common goal of our client." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Transparency : Billed only for actual hours working" "text" "Our team collaboration tool timestamps every on-job/off-job event so our clients know that they are billed exactly to the minute of time spent. We have a record of never over-billing that we are very proud of." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Transparency : On the Same Page " "text" "We only start work after a paid discovery session that lets both us and our clients know that we want to work together. We have participated in 121 Paid Discovery Client Sessions to date to diagnose client problems / identify possible product solutions." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Everything under NDA" "text" "Product is the life-blood of any company and every member of every project on productTEAMS signs a confidentiality/non-disclosure that protect ours clients fully. " "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We want to truly empower the educators and communities that bring amazing products to you. That’s why we reinvest 20% of our profits into schools that teach budding product people how to build. You can see the communities grow and learn more about this on our blog." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
